.page_wrapper {
  border: 2px solid green;
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.content_wrapper {
  border: 2px solid yellow;
  display: flex;
  height: 100%;
  flex-direction: inherit;
}

.conversation_wrapper {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.user_actions_wrapper {
  border: 2px solid blue;
  display: flex;
  height: 50px;
  margin-top: auto;
  /* align-self: flex-end; */
}

.user_actions_input {
  width: 100%;
}

.user_actions_send_button {
  width: fit-content;
}
