.page_wrapper {
  border: 2px solid yellow;
  height: 100%;
  width: 60vw;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.content_wrapper {
  border: 2px solid red;
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.tabs_wrapper {
  /* border: 2px solid orange; */
  display: flex;
  height: 50px;
  padding: 0.5rem 1rem;
  justify-content: space-around;
}

.tab_heading {
}

.tab_heading__active {
}

.new_chat_button {
  position: absolute;
  width: fit-content;
  top: 90%;
  right: 4%;
}
